<header class="masthead vh-100">
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="col-12 col-md-10 text-center welcome">

				<div class="masthead-inner">

					<img class="d-none d-md-block masthead-logo" src="{{ .Site.BaseURL }}/img/theme-img/logo-elih3-long.svg">
					<img class="d-block d-md-none masthead-logo" src="{{ .Site.BaseURL }}/img/theme-img/logo-elih3-stacked.svg">
					<!-- <img class="masthead-logo" src="img/logo-long.svg"> -->

					<div class="buttons buttons-mobile">
						{{ range .Site.Menus.main }}
						<span class="d-block"><a href="{{ .URL }}">{{ .Name }}</a></span>
						{{ end }}
					</div>

				</div>

			</div>
		</div>
	</div>
</header>