<div class="nav-mobile d-block position-fixed w-100 d-md-none">
	<div class="d-flex justify-content-end h-100 align-items-center">
		<a class="menu-open" data-bs-toggle="offcanvas" href="#offcanvas-nav" role="button" aria-controls="offcanvas-nav">
			<img class="" src="{{ .Site.BaseURL }}/img/theme-img/btn-list.svg">
		</a>
	</div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-nav" aria-labelledby="offcanvasExampleLabel">

	<div class="offcanvas-header">
		<h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">&hellip; Hey, hi, and Howdy.</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body">
		<div class="bg-light border border-secondary rounded p-4">
			<ul class="list-unstyled">
				{{ range .Site.Menus.main }}
				<li class=""><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</div>
	</div>

</div>