
<section class="section section-eden">


	<div class="d-flex justify-content-center">
		<div class="col-8">
			<img class="logo-section" src="{{ "img/theme-img/logo-edenlong.svg" | relURL }}">
		</div>
	</div>


	<div class="d-flex justify-content-center">
		<div class="col">


			<div class="text-center">
				<p>Web Designer at Eden Foods &ndash; Since 2014, I have been working as a Web Designer at Eden Foods in Clinton, Michigan. This includes creating page layouts, creating and designing graphics and content for the web, designing marketing emails, and organizing and coordinating email marketing campaigns. I also occasionally have the opportunity to design magazine ads and signage for print publication.</p>
			</div>


			<div class="row">





				<h2>Website</h2>

				<hr>

				<div class="d-flex justify-content-center text-center">
					<div class="col-12 col-md-8 mb-5 d-flex align-items-center justify-content-center">
						<div class="row">

							<div class="col-12 col-md-9">
								<!-- <p><strong>Desktop (Scrollable!)</strong></p> -->
								<div class="scrollport scrollport-desktop">
									<div class="scrollport-desktop-inner">
										<img draggable="false" class="" src="{{ "img/theme-img/scrollport-desktop-eden.jpg" | relURL }}">
									</div>
								</div>
							</div>

							<div class="col-12 col-md-3">
								<!-- <p><strong>Mobile (Also Scrollable!)</strong></p> -->
								<div class="scrollport scrollport-mobile">
									<div class="scrollport-mobile-inner">
										<img draggable="false" class="" src="{{ "img/theme-img/scrollport-mobile-eden.jpg" | relURL }}">
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>




				<div class="row">

					<div class="col-md-6">

						<h2>Digital</h2>

						<hr>

						<ul class="row list-unstyled thumbnail-grid m-0">
						
						
							{{ range $key, $item := .Site.Data.digitalads.digitalads }}
						
							<li class="col-6 col-md-4">
								<div class="gallery-thumb mb-md-5">
									<a data-bs-toggle="modal" data-bs-target="#{{  $item.galleryID }}" href="#">
										<img class="img-fluid w-100" src="{{ $item.img }}" alt="{{ $item.name }}">
									</a>
									<div class="caption text-center">
										<a data-bs-toggle="modal" data-bs-target="#{{  $item.galleryID }}" href="#">{{ $item.name }}</a>
									</div>
								</div>
							</li>
						
							<div class="modal fade" id="{{  $item.galleryID }}" tabindex="-1" aria-labelledby="{{  $item.galleryID }}Label" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="{{  $item.galleryID }}Label">{{ $item.name }}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<img class="img-fluid w-100" src="{{ $item.img }}" alt="{{ $item.name }}">
										</div>
										<div class="modal-footer">
											<p>{{ $item.name }}</p>
										</div>
									</div>
								</div>
							</div>
						
							{{ end }}
						
						</ul>

					</div>

					<div class="col-md-6">

						<h2>Print</h2>

						<hr>

						<ul class="row list-unstyled thumbnail-grid m-0">
						
						
							{{ range $key, $item := .Site.Data.ads.ads }}
						
							<li class="col-6 col-md-4">
								<div class="gallery-thumb mb-md-5">
									<a data-bs-toggle="modal" data-bs-target="#{{  $item.galleryID }}" href="#">
										<img class="img-fluid w-100" src="{{ $item.img }}" alt="{{ $item.name }}">
									</a>
									<div class="caption text-center">
										<a data-bs-toggle="modal" data-bs-target="#{{  $item.galleryID }}" href="#">{{ $item.name }}</a>
									</div>
								</div>
							</li>
						
							<div class="modal fade" id="{{  $item.galleryID }}" tabindex="-1" aria-labelledby="{{  $item.galleryID }}Label" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="{{  $item.galleryID }}Label">{{ $item.name }}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<img class="img-fluid w-100" src="{{ $item.img }}" alt="{{ $item.name }}">
										</div>
										<div class="modal-footer">
											<p>{{ $item.name }}</p>
										</div>
									</div>
								</div>
							</div>
						
							{{ end }}
						
						</ul>

						<hr>

						<ul class="row list-unstyled thumbnail-grid m-0">
						
						
							{{ range $key, $item := .Site.Data.storesigns.storesigns }}
						
							<li class="col-6 col-md-4">
								<div class="gallery-thumb mb-md-5">
									<a data-bs-toggle="modal" data-bs-target="#{{  $item.galleryID }}" href="#">
										<img class="img-fluid w-100" src="{{ $item.img }}" alt="{{ $item.name }}">
									</a>
									<div class="caption text-center">
										<a data-bs-toggle="modal" data-bs-target="#{{  $item.galleryID }}" href="#">{{ $item.name }}</a>
									</div>
								</div>
							</li>
						
							<div class="modal fade" id="{{  $item.galleryID }}" tabindex="-1" aria-labelledby="{{  $item.galleryID }}Label" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="{{  $item.galleryID }}Label">{{ $item.name }}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<img class="img-fluid w-100" src="{{ $item.img }}" alt="{{ $item.name }}">
										</div>
										<div class="modal-footer">
											<p>{{ $item.name }}</p>
										</div>
									</div>
								</div>
							</div>
						
							{{ end }}
						
						
						</ul>

					</div>

				</div>


			</div>

		</div>
	</div>

</section>
