

<section class="section section-freelance">


	<div class="d-flex justify-content-center">
		<div class="col-8">
			<img class="logo-section d-none d-md-block" src="{{ "img/theme-img/logo-otherfreelance-long.svg" | relURL }}">
			<img class="logo-section d-block d-md-none" src="{{ "img/theme-img/logo-otherfreelance-stacked.svg" | relURL }}">
		</div>
	</div>



	<div class="col">

		<div class="d-flex justify-content-center text-center">
			<div class="col-12 col-md-8 mb-5 d-flex align-items-center justify-content-center">
				<div class="row">

					<div class="col-12 col-md-9">
						<!-- <p><strong>Desktop (Scrollable!)</strong></p> -->
						<div class="scrollport scrollport-desktop">
							<div class="scrollport-desktop-inner">
								<img draggable="false" class="" src="{{ "img/theme-img/scrollport-desktop-spiderman.jpg" | relURL }}">
							</div>
						</div>
					</div>

					<div class="col-12 col-md-3">
						<!-- <p><strong>Mobile (Also Scrollable!)</strong></p> -->
						<div class="scrollport scrollport-mobile">
							<div class="scrollport-mobile-inner">
								<img draggable="false" class="" src="{{ "img/theme-img/scrollport-mobile-spiderman.jpg" | relURL }}">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<h3><a class="text-white" href="http://www.crazyspidermankingdom.com">The Crazy Spider-Man Kingdom</a></h3>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris mi, vulputate in enim pulvinar, porttitor aliquam est. Sed bibendum massa accumsan interdum fringilla. Etiam ac nisl nec lectus ultricies sollicitudin eget sed eros. Aliquam eu dolor massa. Morbi sit amet tellus convallis, auctor velit sit amet, tristique nibh. Sed libero turpis, laoreet vitae nunc vel, suscipit mollis tellus. Nam in pretium urna. Nam pellentesque tortor quis ex pretium maximus. Quisque eu gravida sapien. Ut tincidunt, metus et dignissim tristique, ex justo pulvinar sem, ullamcorper aliquam lacus elit quis lacus. Integer rhoncus rhoncus faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed finibus tellus, sit amet elementum libero. Vivamus semper ultricies ligula non euismod. Suspendisse consectetur diam in arcu eleifend, non pharetra tortor finibus.</p> -->
		<p>This is a website originally created by a good friend of mine back when we were in high school. A few years ago he had me redesign it, and since then I've given it another makeover. One of my favorite projects!</p>
	</div>



	<div class="col">

		<div class="d-flex justify-content-center text-center">
			<div class="col-12 col-md-8 mb-5 d-flex align-items-center justify-content-center">
				<div class="row">

					<div class="col-12 col-md-9">
						<!-- <p><strong>Desktop (Scrollable!)</strong></p> -->
						<div class="scrollport scrollport-desktop">
							<div class="scrollport-desktop-inner">
								<img draggable="false" class="" src="{{ "img/theme-img/scrollport-desktop-zeichmann.jpg" | relURL }}">
							</div>
						</div>
					</div>

					<div class="col-12 col-md-3">
						<!-- <p><strong>Mobile (Also Scrollable!)</strong></p> -->
						<div class="scrollport scrollport-mobile">
							<div class="scrollport-mobile-inner">
								<img draggable="false" class="" src="{{ "img/theme-img/scrollport-mobile-zeichmann.jpg" | relURL }}">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<h3><a class="text-white" href="http://www.christopherzeichmann.com">Christopher Zeichmann - New Testament Scholar</a></h3>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris mi, vulputate in enim pulvinar, porttitor aliquam est. Sed bibendum massa accumsan interdum fringilla. Etiam ac nisl nec lectus ultricies sollicitudin eget sed eros. Aliquam eu dolor massa. Morbi sit amet tellus convallis, auctor velit sit amet, tristique nibh. Sed libero turpis, laoreet vitae nunc vel, suscipit mollis tellus. Nam in pretium urna. Nam pellentesque tortor quis ex pretium maximus. Quisque eu gravida sapien. Ut tincidunt, metus et dignissim tristique, ex justo pulvinar sem, ullamcorper aliquam lacus elit quis lacus. Integer rhoncus rhoncus faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed finibus tellus, sit amet elementum libero. Vivamus semper ultricies ligula non euismod. Suspendisse consectetur diam in arcu eleifend, non pharetra tortor finibus.</p> -->
		<p>My friend Chris is really, really smart. Like, Bible-scholar smart. I was thrilled to build this Wordpress-based website for him!</p>

	</div>


</section>



