<section class="section section-resume">

	<div class="d-flex justify-content-center">

		<div class="col">

			<!-- <h1>EliH3</h1> -->
			<div class="leadtext">
				<h2>Hey, My name&rsquo;s Eli!</h2>
				<hr>
				<p>I live in Southeast Michigan, and I&rsquo;m into graphic design, specifically for the web. I do print, but lately my focus has been designing Bootstrap-based responsive websites, specifically using Content Management Systems like WordPress, and eCommerce platforms like Magento. I&rsquo;d love to work with you! I encourage you to take a look around and check me out.</p>
			</div>

			<h2>Resume</h2>

			<hr>

			<h3>Education:</h3>

			<ul>
				<li>BFA in Digital Media - Web Design, Animation from Kendall College of Art and Design<br>August 2007 &ndash; May 2011</li>
				<li>Associate in Graphic Design Technology from Washtenaw Community College<br>August 2004 &ndash; May 2007</li>
			</ul>

			<h3>Skills:</h3>

			<p>I specialize in front-end website design, as well as print publications. I write HTML5 and CSS3 / Sass, a basic knowledge of Javascript and PHP, and am comfortable working with responsive front-end development frameworks like Bootstrap. I have experience with developing responsive themes for Wordpress, as well as the eCommerce platform Magento. I have extensive experience with multiple creative software applications, including the Adobe Creative Suite, specifically Photoshop, Illustrator, and InDesign.</p>

			<h3>Experience:</h3>

			<p>Web Designer at Eden Foods &ndash; Since 2014, I have been working as a Web Designer at Eden Foods in Clinton, Michigan. This includes creating page layouts, creating and designing graphics and content for the web, designing marketing emails, and organizing and coordinating email marketing campaigns. I also occasionally have the opportunity to design magazine ads and signage for print publication.</p>
			<p>Web/interface Designer, Front-End Developer at Avid Marketing, LLC &ndash; Responsibilities included developing both finished products and reusable templates for items such as websites (both static html/css based sites, as well as dynamic Wordpress-based sites), mailers, newsletters, business cards, and brochures.</p>
			<p>Web/interface designer at DataComp/MHVillage &ndash; MHVillage is a major eCommerce community for users wishing to buy, sell, or rent mobile or manufactured homes. The goal of the project was to analyze the (then) current site, and to redesign the search process to provide a more pleasing experience for the user. My role in the project was to create mockups of pages (search forms, result listings, description pages, et cetera), and then present said mockups to the development team.</p>

			<h3>Employment:</h3>

			<ul>
				<li>
					<p class="m-0">Eden Foods. Clinton, Michigan 49236. March 2014&mdash;present.</p>
				</li>
				<li>
					<p class="m-0">Avid Marketing, LLC Grand Rapids, MI 49503. May 2011&mdash;May 2014.</p>
				</li>
				<li>
					<p class="m-0">DataComp/MHVillage. Grand Rapids, MI 49525. Feb. 2012&mdash;July 2012.</p>
				</li>
				<li>
					<p class="m-0">Freelance/Pro-Bono. September 2007&mdash;present.</p>
				</li>
			</ul>

		</div>

	</div>

</section>