{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{ .Site.Title }}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}



{{ define "main" }}
<div class="container">


  <h1>{{ .Title }}</h1>
  <h3>{{ .Params.Subtitle }}</h3>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  <div class="bg-info">
    <p>This template is only for single blog post pages, not regular pages.</p>
  </div>
  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

</div>
{{ end }}